BASE_URL=http://localhost:8080
MONGODB_URI=MONGODB_URI=mongodb://CatchingUpWithUsAtlasAdmin:oZ9k0nyazaAUYeB8IjBJ@catchingupwithuscluster-shard-
00-00-lhp1a.mongodb.net:27017,catchingupwithuscluster-shard-00-01-
lhp1a.mongodb.net:27017,catchingupwithuscluster-shard-00-02-
lhp1a.mongodb.net:27017/testsocialmedia?ssl=true&replicaSet=CatchingUpWithUsCluster-shard-
0&authSource=admin

FACEBOOK_ID=121779641682451
FACEBOOK_SECRET=5f27a8cae1d354a8523f3f0aa2623429

env examples FB
FACEBOOK_ID=754220301289665
FACEBOOK_SECRET=41860e58c256a3d7ad8267d3c1939a4a

INSTAGRAM_ID=295062914800725
INSTAGRAM_SECRET=1c12f810e7ba600c02ea1b85199d306e

env examples Instagram
INSTAGRAM_ID=9f5c39ab236a48e0aec354acb77eee9b
INSTAGRAM_SECRET=5920619aafe842128673e793a1c40028

GOOGLE_ID=87449018548-i8l9bvm1f56hg1dgulkcviiu17h8tabl.apps.googleusercontent.com
GOOGLE_SECRET=zoyiin9OrusG1TqIZD_Hbrt5

env examples google 
GOOGLE_ID=828110519058.apps.googleusercontent.com
GOOGLE_SECRET=JdZsIaWhUFIchmC1a_IZzOHb