{
  "extends": [
    "airbnb-base",
    "plugin:vue/essential",
    // "eslint:recommended",
    "@vue/typescript/recommended"
    // "@vue/prettier",
    // "@vue/prettier/@typescript-eslint"
  ],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "parser": "@typescript-eslint/parser"
  },
  "plugins": ["chai-friendly"],
  "rules": {
    "comma-dangle": 0,
    "consistent-return": 0,
    "function-paren-newline": ["error", "never"],
    "implicit-arrow-linebreak": ["off"],
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-shadow": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-this-alias": 0,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "object-shorthand": 0,
    "no-unused-expressions": 0,
    "no-useless-computed-key": 0,
    "no-unused-vars": [1, { "argsIgnorePattern": "next" }],
    "chai-friendly/no-unused-expressions": 0
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  // "ignorePatterns": ["node_modules", "assets", "static"],
  "overrides": [
    {
      "files": [
        "**/test/*.{j,t}s?(x)",
        "**/test/*.*",
        "**/tests/unit/**/*.spec.{j,t}s?(x)"
      ],
      "env": {
        "mocha": true
      }
    }
  ]
}
