 OLD CODE FROM GRAPHQL tutorial the fisrt short one remove once working
 const schema = new GraphQLSchema({
   query: new GraphQLObjectType({
     name: 'Query',
     fields: {
       users: {
         type: GraphQLList(UserType),
         resolve: (root, args, context, info) => UserModel.find().exec()
       },
       user: {
         type: UserType,
         firstname: String,
         lastname: String,
         args: {
           id: { type: GraphQLNonNull(GraphQLID) }
         },
         resolve: (root, args, context, info) => UserModel.findById(args.id).exec()
      }
    }
  }),
  mutation: new GraphQLObjectType({
    name: 'Mutation',
    fields: {
      user: {
        type: UserType,
        args: {
          firstname: { type: GraphQLNonNull(GraphQLString) },
          lastname: { type: GraphQLNonNull(GraphQLString) },
          profile: { type: GraphQLNonNull(GraphQLString) },
          social: { type: GraphQLNonNull(GraphQLString) }

        },
        resolve: (root, args, context, info) => {
          const user = new UserModel(args);
          return user.save();
        }
      }
    }
  })
});